@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  @apply flex rounded-lg py-2 justify-center hover:bg-gradient-to-r from-primary-200 to-secondary hover:text-white;
}

.input-box {
  @apply block border border-text-100 rounded-lg w-full outline-none py-2 pl-2 mt-2;
}

/* * {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  color: #333333;
} */
