@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  color: #333333;
}

.button-active {
  @apply hover:bg-gradient-to-r transition from-primary-200 to-secondary hover:text-white font-medium;
}

.button-lg {
  @apply flex rounded-lg py-2.5 justify-center button-active;
}

.button-lg__primary {
  @apply button-lg text-white bg-primary-300;
}

.hr-line {
  @apply grow border-t border-shade mt-2;
}

.input-box {
  @apply block border border-text-100 rounded-lg w-full outline-none py-2.5 pl-2 pr-24 mt-px;
}

.h2 {
  @apply font-medium text-xl;
}

.dropdown {
  @apply absolute top-12 right-0 bg-white shadow-md w-[129px] text-left pt-4 pb-2 pl-4 text-lg rounded-lg animate-slideIn;
}

.nav {
  @apply flex pl-4 py-4 mb-4 border-l-4;
}

.navlink__active {
  @apply nav bg-primary-100 border-primary-300 font-medium text-primary-300;
}

.navlink__inactive {
  @apply nav border-transparent text-text-200;
}

.button-sm {
  @apply w-40 mr-6 font-medium text-white text-center py-2.5 rounded-lg;
}

.page {
  @apply w-[2.3rem] font-medium py-2 text-white rounded;
}

/* * {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  color: #333333;
} */
