@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-style {
  @apply text-text-400 font-body;
}

.link {
  @apply flex rounded-lg py-2 justify-center hover:bg-gradient-to-r from-primary-200 to-secondary hover:text-white font-medium;
}

.hr-line {
  @apply grow border-t border-shade mt-2;
}

.input-box {
  @apply block border border-text-100 rounded-lg w-full outline-none py-2 pl-2 mt-0.5;
}

.h2 {
  @apply font-medium text-xl mb-2;
}

.dropdown {
  @apply absolute top-12 right-0 bg-white shadow-md w-[129px] text-left pt-4 pb-2 pl-4 text-lg rounded-lg animate-slideIn;
}

.dashboard {
  @apply flex pl-4 gap-2  py-4;
}

.active-link {
  @apply dashboard mb-4 border-l-4 bg-primary-100 border-primary-300 font-medium text-primary-300;
}

.inactive-link {
  @apply dashboard mb-4 border-l-4 border-transparent text-text-200;
}

.active-timetable {
  @apply w-40 mr-6 font-medium text-white text-center py-4 rounded-lg;
}

/* * {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  color: #333333;
} */
